[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-storages = "*"
boto3 = "*"
seed = "*"
django-seed = "*"
django-crispy-forms = "*"
django-heroku = "*"
gunicorn = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.9"
