{% extends 'base.html' %} {% block content %}

<h1 class="title">Log In</h1>
<form method="post" action="{% url 'login' %}">
	{% csrf_token %} {{ form.as_p }}
	<input type="submit" class="btn" value="login" />
	<!-- <input> elements of type hidden let web developers include data that cannot be seen or modified by users when a form is submitted. For example, the ID of the content that is currently being ordered or edited, or a unique security token. Hidden inputs are completely invisible in the rendered page with no way to make it visible. source: Mozilla docs-->
	<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %} 
