{% extends 'base.html' %}
{% block title %}
About Us
{% endblock %}
{% block content %}
<section class="container about-container">
    <h1>About Us</h1>
    <div class="divider"></div>
    <h2 class="about-subheading">Meet The Pythonic Lava Team:</h2>
    <p class=" section">We are a team of students from General Assembly's Software Engineering Immersive Flex program!</p>


    <article class="about-cards-container">
        
        <div class="about-flex">
            <img src="#" alt="">
            <div class="about-flex-card">
                <h5>The Wizard aka Vincent Laquindanum</h5>
                <p>Currently an engineer in Sacramento, CA with fingers of fire. Pythionic Lava's scrum leader who plays VS Code as video games.</p>
            </div>
        </div>

        <div class="about-flex">
            <img src="#" alt="">
            <div class="about-flex-card">
                <h5>Natalie Lopez</h5>
                <p>Currently a social worker in San Antonio, TX with a side project of taped knuckles, taking names, and kickin' a**.</p>
            </div>
        </div>

        <div class="about-flex">
            <img src="#" alt="">
            <div class="about-flex-card">
                <h5>Mr. Uncle Bobert No aka Robert Sato</h5>
                <p>Don't come this guy for any bank loans. He'll always say no unless you can make a mean emoji or have a corgi.</p>
            </div>
        </div>

        <div class="about-flex">
            <img src="#" alt="">
            <div class="about-flex-card">
                <h5>Danielle Brinkley</h5>
                <p>Currently everyone's favorite and friendly Insurance Agent soon to be software engineer who is from Calgary, Alberta, Canada. They're just nicer there...</p>
            </div>
        </div>

        <div class="about-flex">
            <img src="#" alt="">
            <div class="about-flex-card">
                <h5>Emily Johnson</h5>
                <p>Currently living in San Diego, CA as small business owner in the health and fitness industry. Looking for a more challenging career change in software engineering.</p>
            </div>
        </div>

    </article>
    
</section>

{% endblock content %}