<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <title>Wayfarer</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <script src="{% static 'scripts/main.js' %}" defer></script>

  </head>
  <body >

    <!--NAVIGATION-->
    <div class="nav-message">
      <span>
        WHERE TO NEXT? - INSPIRE AND BE INSPIRED
      </span>
    </div>
    <nav class="navbar-main navbar navbar-expand-md">
    
      <div class="container d-flex justify-content-between">
        <a class="navbar-brand" href="{% url 'home' %}">
          <div class="nav-logo">
            <div class="nav-logo-historic nav-logo-item z-loc-top">HISTORIC</div>
            <div class="nav-logo-stops nav-logo-item">
              <img class="nav-logo-image" src="https://wayfarer-pythonic-lava.s3.us-west-1.amazonaws.com/splash/seedling.png"  /><span class="stops z-loc-top">STOPS</span>
            </div>
          </div>
        </a>
        
        {% if user.is_authenticated %}

        <div class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="navbar-item nav-item mx-md-4">
              <a class="nav-link" href="#">ABOUT</a>
            </li>
            <li class="navbar-item nav-item nav-item mx-md-4">
              <a class="nav-link" href="{% url 'profile' user.pk %}">PROFILE</a>
            </li>
            <li class="navbar-item nav-item nav-item mx-md-4">
              <a class="nav-link" href="{% url 'city_list' %}">CITIES</a>
            </li>
            <li class="navbar-item nav-item nav-item mx-md-4">
              <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
            </li>
          </ul>
        </div>
        
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->

        {% else %}

        <div>
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="navbar-item nav-item mx-md-4">
              <a class="nav-link" href="#">ABOUT</a>
            </li>
            <li class="navbar-item nav-item mx-md-4">
              <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">LOGIN</a>
            </li>
            <li class="navbar-item nav-item mx-md-4">
              <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModalToggle2"><span class="nav-bar-signup">SIGNUP</span></a>
            </li>
          </ul>
        </div>
        

          {% endif %}

      </div>
    </nav>

    <!--CONTENT-->

    <main style="background-color: var(--offwhite); padding-bottom: 100px; position: relative; z-index: 1;">
  
      {% block content %}
      
      {% endblock %}
  
    </main>

    <!-- FOOTER -->
    <div class="footer-main">
      <footer class="p-lg-5">
        <div class="nav w-100 justify-content-center border-bottom">
          Historic Stops
        </div>  
        <p class="text-center text-white">&copy; 2021 Pythonic Lava, Inc</p>
      </footer>
    </div>

    <!--MODALS-->

    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">Log into your account</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="modal-form" method="post" action="{% url 'login-user' %}">
              {% csrf_token %} {{ loginform.as_p }}
              <input type="submit" class="form-button" value="LOGIN" />
              <input type="hidden" name="next" value="{{ next }}" />
            </form>
          </div>
          <div class="modal-footer">
            Don't have an account? <a class="link-modal" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Sign up</a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel2">Sign up for an account</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="modal-form" method="post" action="{% url 'signup' %}">
              {% csrf_token %} {{ signupform.as_p }}
              <input type="submit" class="form-button" value="SIGN UP" />
              <input type="hidden" name="next" value="{{ next }}" />
            </form>
          </div>
          <div class="modal-footer">
            Already have an account? <a class="link-modal" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Log In</a>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>