{% extends 'base.html' %} 
{% block content %}
{% load static %}

<div class="d-flex">

    <!-- SIDEBAR -->
    <div class="sidebar-city d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">

        <!-- Search Cities -->
        <div class="d-flex align-items-center mt-0 mb-3 me-md-auto link-dark text-decoration-none">
            <span class="sidebar-title fs-4 pt-5">CITIES</span>
        </div>
        <form class="" method="get">
            <span class="align-self-center">
                <input class="sidebar-search-input input" type="text" name="name" placeholder="Search" />
                <input class="sidebar-search-button sidebar-search-submit" type="submit" value="" />
            </span>
        
            <span>
                <a href="{% url 'city_list' %}">
                    <button class="sidebar-search-button sidebar-search-clear">
                        <svg class="svg-icon" viewBox="0 0 20 20">
							<path fill="none" d="M11.469,10l7.08-7.08c0.406-0.406,0.406-1.064,0-1.469c-0.406-0.406-1.063-0.406-1.469,0L10,8.53l-7.081-7.08
							c-0.406-0.406-1.064-0.406-1.469,0c-0.406,0.406-0.406,1.063,0,1.469L8.531,10L1.45,17.081c-0.406,0.406-0.406,1.064,0,1.469
							c0.203,0.203,0.469,0.304,0.735,0.304c0.266,0,0.531-0.101,0.735-0.304L10,11.469l7.08,7.081c0.203,0.203,0.469,0.304,0.735,0.304
							c0.267,0,0.532-0.101,0.735-0.304c0.406-0.406,0.406-1.064,0-1.469L11.469,10z"></path>
						</svg>
                    </button>
                </a>
            </span>
        </form>

        <div class="nav nav-pills flex-column mb-auto mt-1">

        {% for city in cities %}

            <a class="sidebar-nav-link" href="{% url 'city_detail' city.pk %}" aria-current="page">
                <div class="sidebar-nav-item">
                
                    <div class="image-placeholder"></div>
                    <div class="sidebar-city-name">{{city.name}}</div>
                
                </div>
            </a>
        {% empty %}

            <div class="sidebar-nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#"/></svg>
                    No Cities Yet
                </a>
            </div>

        {% endfor %}
        
        </div>
        
        <hr>
    
    </div>

    <!-- City Content -->
    <div class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
          <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
      </div>
    
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">Featured post</h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">Design</strong>
              <h3 class="mb-0">Post title</h3>
              <div class="mb-1 text-muted">Nov 11</div>
              <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
            </div>
          </div>
        </div>
      </div>
      </div>

</div>

{% endblock %}


