{% extends 'base.html' %} 
{% block content %}
{% load static %}

<div class="d-flex">

    <!-- SIDEBAR -->
    <div class="sidebar-city d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">

        <!-- Search Cities -->
        <div class="d-flex align-items-center mt-0 mb-3 me-md-auto link-dark text-decoration-none">
            <span class="sidebar-title fs-4 pt-5">CITIES</span>
        </div>
        <form class="" method="get">
            <span class="align-self-center">
                <input class="sidebar-search-input input" type="text" name="name" placeholder="Search" />
            </span>
        
            <span>
                <a href="{% url 'city_list' %}">
                    <button class="sidebar-search-button sidebar-search-clear">
                        <svg class="svg-icon" viewBox="0 0 20 20">
							            <path fill="none" d="M11.469,10l7.08-7.08c0.406-0.406,0.406-1.064,0-1.469c-0.406-0.406-1.063-0.406-1.469,0L10,8.53l-7.081-7.08
							              c-0.406-0.406-1.064-0.406-1.469,0c-0.406,0.406-0.406,1.063,0,1.469L8.531,10L1.45,17.081c-0.406,0.406-0.406,1.064,0,1.469
							              c0.203,0.203,0.469,0.304,0.735,0.304c0.266,0,0.531-0.101,0.735-0.304L10,11.469l7.08,7.081c0.203,0.203,0.469,0.304,0.735,0.304
							              c0.267,0,0.532-0.101,0.735-0.304c0.406-0.406,0.406-1.064,0-1.469L11.469,10z"></path>
						            </svg>
                    </button>
                </a>
            </span>
        </form>

        <div class="nav nav-pills flex-column mb-auto mt-1">

        {% for city in cities %}

            <a class="sidebar-nav-link" href="{% url 'city_detail' city.pk %}" aria-current="page">
                <div class="sidebar-nav-item">
                
                    <div class="image-placeholder"></div>
                    <div class="sidebar-city-name">{{city.name}}</div>
                
                </div>
            </a>

        {% empty %}

            <div class="sidebar-nav-item">
                <a href="#" class="nav-link" aria-current="page">
                    No Cities Yet
                </a>
            </div>

        {% endfor %}
        
        </div>
        
        <hr>
    
    </div>

    <!-- City Content -->
    <div class="container">
      <div class="city-header-container">
        <div class="col-md-4">
          <p class="city-content-info pe-md-5">
            Tendrils of gossamer clouds extraplanetary permanence of the stars worldlets something incredible is waiting to be known Euclid. Take root and flourish courage of our questions emerged into.
          </p>
        </div>
        <div class="city-image-title-container">
          <img class="mb-4" src="{% static 'images/london-eye.jpeg'%}" style="width: 100%; height: 420px; object-fit: cover;" />
          <div class="city-content-header d-flex justify-content-between align-items-center">
            <div class="city-content-header-title">
              <h1 class="city-content-city">{{city_details.name}}</h1>
              <h5 class="city-content-country">{{city_details.country}}</h5>
            </div>
            <div class="city-content-post-count">
              <span>2,345 POSTS</span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="w-100 px-lg-5">
        <hr />
      </div>
      <!-- City Posts  -->
      <div class="p-lg-5">
        <div class="d-flex justify-content-between">
            <span class="city-post-subtitle fs-4">CITY POSTS</span><span><button class="city-post-add"><a class="" href="{% url 'post_create' city_details.pk %}">+</a></button></span>
        </div>

        {% for post in city_details.post.all %}

        <div class="mb-lg-5 mt-lg-4">
            <div class="row g-0 border overflow-hidden flex-md-row mb-2 h-250 h-md-250 shadow-sm position-relative">
                <div class="col-auto d-none d-lg-block">
                    {% if post.image %}
                    <img src="{{post.image.url}}" width="500px" height="350px" style="object-fit: cover;"/>
                    {% else %}
                    <h1>No image</h1>
                    {% endif %}
                </div>
                <div class="city-post-content-container col p-4 d-flex flex-column position-static">
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'post_detail' post.pk %}">
                            <h3 class="city-post-title mb-0">{{post.title}}</h3>
                        </a>
                        
                        {% if user.is_authenticated %}
                                {% if user.id == post.profile.user.id %}
                            
                            <div>
                                <a href="{% url 'post_update' city_details.pk post.pk %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
                                </a>
                                <a href="{% url 'post_delete' city_details.pk post.pk %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                </a>
                            </div>

                                {% endif %}
                        {% endif%}

                    </div>
                    
                    <div class="city-post-date mb-1 text-muted">{{post.created_at}}</div>
                    <p class="city-post-content card-text mb-auto">{{post.description|truncatechars_html:1000}}  <a href="{% url 'post_detail' post.pk %}">See More</a></p>

                    
        
                    <div class="d-flex w-100">
                        <div class="city-post-footer d-flex w-100 justify-content-lg-between">
                            {% if post.profile.image %}
                            <span>Image + {{post.profile.user.username}}</span>
                            {% else %}
                            <span>{{post.profile.user.username}}</span>
                            {% endif %}
                            <span>132 Comments</span>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}
