{% extends 'base.html' %} 
{% block content %}
{% load static %}

<div class="d-flex">

    <!-- SIDEBAR -->
    <div class="sidebar-city d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">

        <!-- Search Cities -->
        <div class="d-flex align-items-center mt-0 mb-3 me-md-auto link-dark text-decoration-none">
            <span class="sidebar-title fs-4 pt-5">CITIES</span>
        </div>
        <form class="" method="get">
            <span class="align-self-center">
                <input class="sidebar-search-input input" type="text" name="name" placeholder="Search" />
                <input class="sidebar-search-button sidebar-search-submit" type="submit" value="" />
            </span>
        
            <span>
                <a href="{% url 'city_list' %}">
                    <button class="sidebar-search-button sidebar-search-clear">
                        <svg class="svg-icon" viewBox="0 0 20 20">
							<path fill="none" d="M11.469,10l7.08-7.08c0.406-0.406,0.406-1.064,0-1.469c-0.406-0.406-1.063-0.406-1.469,0L10,8.53l-7.081-7.08
							c-0.406-0.406-1.064-0.406-1.469,0c-0.406,0.406-0.406,1.063,0,1.469L8.531,10L1.45,17.081c-0.406,0.406-0.406,1.064,0,1.469
							c0.203,0.203,0.469,0.304,0.735,0.304c0.266,0,0.531-0.101,0.735-0.304L10,11.469l7.08,7.081c0.203,0.203,0.469,0.304,0.735,0.304
							c0.267,0,0.532-0.101,0.735-0.304c0.406-0.406,0.406-1.064,0-1.469L11.469,10z"></path>
						</svg>
                    </button>
                </a>
            </span>
        </form>

        <div class="nav nav-pills flex-column mb-auto mt-1">

        {% for city in cities %}

            <a class="sidebar-nav-link" href="{% url 'city_detail' city.pk %}" aria-current="page">
                <div class="sidebar-nav-item">
                
                    <div class="image-placeholder"></div>
                    <div class="sidebar-city-name">{{city.name}}</div>
                
                </div>
            </a>
        {% empty %}

            <div class="sidebar-nav-item">
                <a href="#" class="nav-link" aria-current="page">
                    No Cities Yet
                </a>
            </div>

        {% endfor %}
        
        </div>
        
        <hr>
    
    </div>

    <!-- City Content -->
    <div class="container">
      <div class="p-4 mt-5 d-flex">
        <div class="col-md-4">
          <p class="city-content-info ms-md-4 pe-md-5">
            Tendrils of gossamer clouds extraplanetary permanence of the stars worldlets something incredible is waiting to be known Euclid. Take root and flourish courage of our questions emerged into.
          </p>
        </div>
        <div class="city-image-title-container">
          <img class="mb-4" src="{% static 'images/london-eye.jpeg'%}" style="width: 100%; height: 420px; object-fit: cover;" />
          <div class="city-content-header d-flex justify-content-between align-items-center">
            <div class="city-content-header-title">
              <h1 class="city-content-city">London</h1>
              <h5 class="city-content-country">United Kingdom</h5>
            </div>
            <div class="city-content-post-count">
              <span>2,345 POSTS</span>
            </div>
          </div>
        </div>
      </div>

        <span class="sidebar-title ps-5 fs-4">CITY POSTS</span>
      
        <div class="col-lg-11 mx-lg-5 my-lg-5">
          <div class="row g-0 border overflow-hidden flex-md-row mb-2 h-250 h-md-250 shadow-sm position-relative">
            <div class="col-auto d-none d-lg-block">
              <img src="https://wayfarer-pythonic-lava.s3.us-west-1.amazonaws.com/city/london-telephone.jpg" width="500px" height="350px" style="object-fit: cover;"/>
            </div>
            <div class="city-post-content-container col p-4 d-flex flex-column position-static">
              <h3 class="city-post-title mb-0">Three nights in London</h3>
              <div class="city-post-date mb-1 text-muted">Nov 12</div>
              <p class="city-post-content card-text mb-auto">Sea of Tranquility trillion with pretty stories for which there's little good evidence star stuff harvesting star light the carbon in our apple pies Drake Equation. Courage of our questions astonishment take root and flourish encyclopaedia galactica not a sunrise but a galaxyrise another world.</p>
              <a href="#" class="stretched-link"></a>
              <div class="d-flex w-100">
                <div class="city-post-footer d-flex w-100 justify-content-lg-between">
                  <span>Image + Username</span>
                  <span>132 Comments</span>
                </div>
              </div>
            </div>
            
          </div>
        </div>

        <! -- break -- >
        <div class="col-lg-11 mx-lg-5 my-lg-5">
          <div class="row g-0 border overflow-hidden flex-md-row mb-2 h-250 h-md-250 shadow-sm position-relative">
            <div class="col-auto d-none d-lg-block">
              <img src="https://wayfarer-pythonic-lava.s3.us-west-1.amazonaws.com/city/london-train.jpg" width="500px" height="350px" style="object-fit: cover;"/>
            </div>
            <div class="city-post-content-container col p-4 d-flex flex-column position-static">
              <h3 class="city-post-title mb-0">How to get around in London</h3>
              <div class="city-post-date mb-1 text-muted">Nov 12</div>
              <p class="city-post-content card-text mb-auto">Sea of Tranquility trillion with pretty stories for which there's little good evidence star stuff harvesting star light the carbon in our apple pies Drake Equation. Courage of our questions astonishment take root and flourish encyclopaedia galactica not a sunrise but a galaxyrise another world.</p>
              <a href="#" class="stretched-link"></a>
              <div class="d-flex w-100">
                <div class="city-post-footer d-flex w-100 justify-content-lg-between">
                  <span>Image + Username</span>
                  <span>132 Comments</span>
                </div>
              </div>
            </div>
            
          </div>
        </div>

          <div class="col-lg-11 mx-lg-5 my-lg-5">
            <div class="row g-0 border overflow-hidden flex-md-row mb-2 h-250 h-md-250 shadow-sm position-relative">
              <div class="col-auto d-none d-lg-block">
                <img src="https://wayfarer-pythonic-lava.s3.us-west-1.amazonaws.com/city/london-snow.jpg" width="500px" height="350px" style="object-fit: cover;"/>
              </div>
              <div class="city-post-content-container col p-4 d-flex flex-column position-static">
                <h3 class="city-post-title mb-0">Preparing for a winter trip</h3>
                <div class="city-post-date mb-1 text-muted">Nov 12</div>
                <p class="city-post-content card-text mb-auto">Sea of Tranquility trillion with pretty stories for which there's little good evidence star stuff harvesting star light the carbon in our apple pies Drake Equation. Courage of our questions astonishment take root and flourish encyclopaedia galactica not a sunrise but a galaxyrise another world.</p>
                <a href="#" class="stretched-link"></a>
                <div class="d-flex w-100">
                  <div class="city-post-footer d-flex w-100 justify-content-lg-between">
                    <span>Image + Username</span>
                    <span>132 Comments</span>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
    </div>

</div>

{% endblock %}


