{% extends 'base.html' %} {% block content %}

<div class="post-card-container">
    <div class="individual-post-title">
        <p class="individual-post-title-text">{{post.title}} by {{post.profile}}</p>
        <p class="individual-post-title-city">Inspiration from {{post.city}}</p>
    </div>
    <div class="individual-post-content">
        <img class="individual-post-content-image" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/beautiful-denver-colorado-l-o-c.jpg" alt="">
        <div class="individual-post-content-info">
            <div class="individual-post-content-info-description">
                {{post.description}}
            </div>
            <div class="individual-post-content-info-comments">
                <p class="individual-post-content-info-comments-header">Comments</p>
                <div class="individual-post-content-info-comments-post-form">
                    <!-- <img class="" src="" alt=""> -->
                    <!-- Form will go here eventually -->
                </div>
                <div class="individual-post-content-info-comments-list">
                    <!-- Insert Foreach loop -->
                    <div class="individual-post-content-info-comments-single">
                        <img class="individual-post-content-info-comments-single-profile-pic" src="https://cdn.shopify.com/s/files/1/2609/7284/files/colorado-flag_large.jpg?v=1530740070" alt="">
                        <div class="individual-post-content-info-comments-single-content">
                            <p class="individual-post-content-info-comments-single-conten"> MrCO <span>26 Mins Ago</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="more-posts-from-user-container">

</div>

 {% endblock %}