{% extends 'base.html' %} {% block content %}

<div class="individual-user-post">
    <img class="individual-user-post-image" src="{{post.image.url}}" alt="">
    <div class="individual-user-post-description">
        <!-- This code is for the drop down menu on the three dots. -->
        <div class="individual-post-options">
            <a href="{% url 'profile_post_update' post.pk %}" class="individual-post-options-menu-link">Edit Post</a>
            <br>
            <a href="{% url 'profile_post_delete' post.pk %}" class="individual-post-options-menu-link">Delete Post</a>
            <br>
            <p class="individual-post-options-menu-link" id="cancel">Cancel</p>
        </div>
        <!-- The three dots only show if the loggedin user is the one who created the p -->
        {% if user.is_authenticated and user.username == post.profile.user.username %}
            <img class="three-dot-editing" src="https://www.svgrepo.com/show/124304/three-dots.svg" alt="">
            <div class="individual-user-post-header">
        {% else %}
            <!-- Code that formats the post when the three dots are present. -->
            <div class="individual-user-post-header no-dots">
        {% endif%}
        <!-- This is the code that includes the post title, city name, and user who post it -->
            <span class="individual-user-post-title">{{post.title}}</span> 
            <span class="individual-user-post-city">{{post.city}}</span>
            <p class="individual-user-post-username">

                {% if profile.image %}

                <img src="{{ post.profile.image.url }}" style="width:20px; height:20px; object-fit: cover;" />
                
                {% else %}
    
                <img src="https://wayfarer-pythonic-lava.s3.us-west-1.amazonaws.com/profile/default-profile.jpeg" style="width:20px; height:20px; object-fit: cover;" />
            
                {% endif %}
                
                {{post.profile}}
            
            </p>

        </div>
        <br>
        <p class="individual-user-post-text">{{post.description}}</p>
        <div class="individual-user-post-gray-text">
            <p class="individual-user-post-time">{{post.created_at}}</p>
            <p class="individual-user-post-comments">250 Comments</p>
        </div>

    </div>
</div>

<!-- HTMl code for the comment section -->
<div class="comment-section-container">
    <!-- HARDCODED, will need to updated to dynamically update the number of comments -->
    <h3 class="comment-section-title">56 Comments for: {{post.title}}</h3>
    <div class="comment-section-list">
        <form class="comment-section-post-form" action="{% url 'comment_create' post.pk %}" method="post">
            {% csrf_token %}
            {% if user.profile.image %}
            <img class="comment-section-post-form-image" src="{{user.profile.image.url}}" alt="">
            {% else %}
            <img class="comment-section-post-form-image" src="https://wayfarer-pythonic-lava.s3.us-west-1.amazonaws.com/profile/default-profile.jpeg" alt="">
            {% endif %}
            <input type="text" class="comment-section-input" name="description" required>
            <input class="comment-section-submit" type="submit" value="Post">
        </form>
        <!-- Comment loop. -->
        {% for comment in post.comment.all %}

        <div class="comment-list">
            {% if comment.profile.image %}
            <img class="comment-list-image" src="{{comment.profile.image.url}}" alt="">
            {% else %}
            <img class="comment-list-image" src="https://wayfarer-pythonic-lava.s3.us-west-1.amazonaws.com/profile/default-profile.jpeg" alt="">
            {% endif %}
            <div class="comment-list-info">
                <p class="comment-list-info-user-name">{{comment.profile.user.username}}</p>
                <p class="comment-list-info-post-time">{{comment.created_at}}</p>
                <p class="comment-list-info-text">{{comment.description}}</p>
                <hr class="comment-list-info-line">
            </div>
        </div>

        {% empty %}

        <h1>No Comments Yet</h1>

        {% endfor %}
        <!-- Once comments are properly coded in, this will need to updated. -->
        <div class="comment-list">
            {#<img class="comment-list-image" src="{{user.profile.image.url}}" alt=""> #}
            <div class="comment-list-info">
                <p class="comment-list-info-user-name">MrCO</p>
                <p class="comment-list-info-post-time">Posted 3 minutes ago</p>
                <p class="comment-list-info-text">I really enjoyed this post a lot. It inspired me to do inspired things like wash my car and walk my dog.</p>
                <hr class="comment-list-info-line">
            </div>
        </div>
        <!-- This is a second hard coded comment to see how well it works. -->
        <div class="comment-list">
            {# <img class="comment-list-image" src="{{user.profile.image.url}}" alt=""> #}
            <div class="comment-list-info">
                <p class="comment-list-info-user-name">MrCO</p>
                <p class="comment-list-info-post-time">Posted 3 minutes ago</p>
                <p class="comment-list-info-text">I really enjoyed this post a lot. It inspired me to do inspired things like wash my car and walk my dog.</p>
                <hr class="comment-list-info-line">
            </div>
        </div>
    </div>
</div>

<div class="more-posts-from-user-container">
    <p class="more-posts-from-user-container-header">More Posts From {{post.profile}}</p>

    <!-- Base template for posts. -->
    <div class="individual-user-post">
        <img class="individual-user-post-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Downtown_Fort_Collins_Colorado.jpg/1280px-Downtown_Fort_Collins_Colorado.jpg" alt="">
        <div class="individual-user-post-description">
            <img class="three-dot-editing" src="https://www.svgrepo.com/show/124304/three-dots.svg" alt="">
            <div class="individual-user-post-header">
                <span class="individual-user-post-title">A Day in Fort Collins</span> 
                <span class="individual-user-post-city">Fort Collins</span>
                <p class="individual-user-post-username">by LuckyHuskyMoney</p>
            </div>
            <br>
            <p class="individual-user-post-text">Today I went to fort collins, that shit was super dope and the booze up there was top class.</p>
            <div class="individual-user-post-gray-text">
                <p class="individual-user-post-time">1 Hour Ago</p>
                <p class="individual-user-post-comments">250 Comments</p>
            </div>
        </div>
    </div>
</div>

 {% endblock %}