{% extends 'base.html' %} {% block content %}
<h1 class="pt-3">Update {{profile.user}} Profile Picture</h1>
<div class="form-body">
  <main class="form-image-update" style="max-width: 600px;">
    <form class="modal-form" style="max-width: 600px;" action="" method="post" enctype="multipart/form-data">
      <h1 class="modal-title h3 mb-3 fw-normal">Update Picture</h1>
      
      {% csrf_token %} {{form.as_p}}

      <input type="submit" class="form-button" value="UPLOAD" />
    </form>
  </main>
</div>
{% endblock %}