{% extends 'base.html' %} 
{% load static %}
{% block content %}


<!-- NEW PROFILE HTML CODE -->
<div class="profile-header-container">
    <div class="profile-header">
        <a href="{% url 'profile_picture_update' user.pk %}">
            {% if profile.image %}
            <div class="profile-header-image-container" style="background-image: url('{{profile.image.url}}');">
            </div>
            <!-- <img src="" alt=""> -->
            {% else %}
            <div class="profile-header-image-container" style="background-image: url('https://wayfarer-pythonic-lava.s3.us-west-1.amazonaws.com/profile/default-profile.jpeg');">
            </div>
            {% endif %}
        </a>
        <div class="profile-content-container">
            <p class="profile-username">{{ profile.user.username }}</p>
            <p class="profile-userinfo-headers"><span class="profile-userinfo">{{ profile.user.first_name }} {{profile.user.last_name}}</span></p>
            <p class="profile-userinfo-headers"><span class="profile-userinfo">{{ profile.current_city }}</p></p>
            <p class="profile-userinfo-headers">Joined <span class="profile-userinfo">{{ profile.user.date_joined|date:"M Y" }}</span></p>
            {% if user.username == profile.user.username %}
            <a class="profile-edit-button-link" href="{% url 'profile_update' user.pk %}">
                <div class="profile-edit-button">
                    EDIT PROFILE
                </div>
            </a>
            {% endif %}
        </div>
    </div>
</div>

<div style="position: relative; width: 0; height: 0"></div>
  <div class="square square-profile"></div>
</div>
<!-- <div style="position: relative; width: 0; height: 0"></div>
  <div class="triangle triangle-profile"></div>
</div> -->
<div style="position: relative; width: 0; height: 0"></div>
  <div class="circle circle-profile"></div>
</div>

<!-- This is the entire HTML code for the user's posts. -->
<div class="user-profile-posts">

    <div class="d-flex justify-content-between" style="padding: 64px 126px 24px 126px;">
        <span class="city-post-subtitle fs-4">POSTS</span>
        <span>
            {% if user.is_authenticated and user.username == profile.user.username %}
            <a style="color: black; text-decoration: none;" href="{% url 'profile_post_create' user.pk %}">
                <button class="city-post-add">
                +
                </button>
            </a>
                {% else %}
            <a style="color: black; text-decoration: none;" href="#">    
                <button class="city-post-add">
                +
                </button>
            </a>    
                {% endif%}
        </span>
    </div>
    <!-- This is the actual list of posts the user has -->
    <div class="user-profile-posts-list">

        {% for post in posts %}

        <!-- This is code I am testing before I push up -->
        <div class="individual-user-post">
            <a href="{% url 'post_detail' post.pk %}" style="text-decoration: none;">
                {% if post.image %}
                    <img class="individual-user-post-image" src="{{post.image.url}}" alt="">
                {% else %}
                    <h1>No image</h1>
                {% endif %}
            </a>
            <div class="individual-user-post-description">
                <!-- This code is for the drop down menu on the three dots. -->
                <div class="individual-post-options">
                    <a href="{% url 'profile_post_update' post.pk %}" class="individual-post-options-menu-link">Edit Post</a>
                    <br>
                    <a href="{% url 'profile_post_delete' post.pk %}" class="individual-post-options-menu-link">Delete Post</a>
                    <br>
                    <p class="individual-post-options-menu-link cancel">Cancel</p>
                </div>
                <!-- The three dots only show if the loggedin user is the one who created the p -->
                {% if user.is_authenticated and user.id == post.profile.user.id %}
                    <img class="three-dot-editing" src="https://www.svgrepo.com/show/124304/three-dots.svg" alt="">
                    <div class="individual-user-post-header">
                {% endif%}
                <!-- This is the code that includes the post title, city name, and user who post it -->
                <a href="{% url 'post_detail' post.pk %}" style="text-decoration: none;">
                    <span class="individual-user-post-title">{{post.title}}</span> 
                </a>
                    <br>
                    <span class="individual-user-post-city">{{post.city}}</span>
                    <span class="individual-user-post-time">Posted {{post.created_at|timesince}} ago</span>
        
                </div>
                <br>
                <p class="individual-user-post-text">{{post.description|truncatechars_html:1000}} <a style="color: var(--darkblue);" href="{% url 'post_detail' post.pk %}">. . . See More</a></p>
                <div class="individual-user-post-bottom">
                    <span class="individual-user-post-username">
        
                        {% if post.profile.image %}
        
                        <img src="{{ post.profile.image.url }}" style="width:20px; height:20px; object-fit: cover; border-radius: 50%;" />
                        
                        {% else %}
        
                        <img src="https://wayfarer-pythonic-lava.s3.us-west-1.amazonaws.com/profile/default-profile.jpeg" style="width:20px; height:20px; object-fit: cover; border-radius: 50%;" />
                    
                        {% endif %}
                        
                        {{post.profile}}
                    
                    </span>
                    <span class="individual-user-post-comments">{{post.comment.all|length}} Comments</span>
                </div>
        
            </div>
        </div>

        {% empty %} 
            <!-- This code is here in case the user has no posts yet. -->
            <div class="message-header">
                <p>No Posts Yet</p>
            </div>
                
        {% endfor %}

    </div>
    <!-- This is the end of the list of posts from the user. -->
</div>
<!-- This is the end of the entire HTML code for the user's posts. -->

{% endblock %}