{% extends 'base.html' %} 
{% block content %}

<div class="profile-container">
    <div class="has-bg-img profile-header-section">
        <div class="profile-card-container">
            <a href="{% url 'profile_picture_update' user.pk %}">
                <div class="profile-user-image-container">
                    <!-- replace image with ability to add user images -->
                    {% if profile.image %}
                    <img class="profile-user-image" src="{{ profile.image.url }}" alt="Profile image">
                    {% else %}
                    <img class="profile-user-image" src="https://wayfarer-pythonic-lava.s3.us-west-1.amazonaws.com/profile/default-profile.jpeg" alt="Profile picture">
                    {% endif %}
                </div>
            </a>
            
            <div class="user-profile-details">
                <p class="username">{{ profile.user.username }}</p>
                <div class="user-info-text">
                    <p class="user-text">Member Since: {{ profile.user.date_joined }}</p>
                    <p class="user-text">First Name: {{ profile.user.first_name }}</p>
                    <p class="user-text">Last Name: {{ profile.user.last_name }}</p>
                    <p class="user-text">Current City: {{ profile.current_city }}</p>
                    <a href="{% url 'profile_update' user.pk %}">
                        <div class="profile-edit-button">
                            Edit Profile
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- This line of code will be replaced by actual img later -->
        <img src="https://wallpaper.dog/large/20442004.jpg" alt="colorado mountain" class="bg-img">
    </div>
    <div class="user-profile-posts">
        <div class="post-top-section">
            <p class="post-history-text">Your Post History</p>
            <a class="" href="{% url 'post_create' %}"><div class="add-post-icon"></div></a>
        
        </div>
        <div class="user-profile-posts-list">
            <!-- Eventaully this will be users.posts -->
            <!-- Danielle's code for posts below -->
          

            {% for post in post %}
                
                <div class="row position-relative">
                    <div class="mb-2 p-3 d-flex">
                        <img src="{{ post.image.url }}" alt="" class="w-50 img-fluid rounded shadow-sm">
                        <div class="ps-lg-5 pe-lg-3 py-lg-5" >
                            <h3>Title: {{post.title}}</h3>
                            <h4>City: {{post.city}}</h4>
                            <h5>Posted by: {{post.profile.user.username}}</h5>
                            <h5>Posted: {{post.created_at}}</h5>
                            <img src="{{ post.profile.image.url }}" style="width:20px; height:20px; object-fit: cover;" />
                            <p>Post Content: {{post.description}}</p>
                            <a href="{% url 'post_detail' post.pk %}" class="stretched-link">Continue Reading</a>
                            <hr />
                            <span class="font-weight-bold mb-0 d-block">215</span><span class="text-muted">Cities</span>
                        </div>
                    </div>
                </div>                      
            
                <div class="individual-user-post position-relative">
                    <img class="individual-user-post-image" src="{{ post.image.url }}" alt="">
                    <div class="individual-user-post-description">
                        <img class="three-dot-editing" src="https://www.svgrepo.com/show/124304/three-dots.svg" alt="">
                        <p class="individual-user-post-title">{{post.title}}</p>
                        <p class="individual-user-post-text">{{post.description}}</p>
                        <a href="{% url 'post_detail' post.pk %}" class="stretched-link"></a>
                        <div class="d-flex justify-content-start">   
                            <img src="{{ post.profile.image.url }}" style="width:20px; height:20px; object-fit: cover;" />
                            <h5>{{post.profile.user.username}}</h5>
                        </div>
                        <div class="individual-user-post-gray-text">
                            <p class="individual-user-post-time">{{post.created_at}}</p>
                            <p class="individual-user-post-comments">250 Comments</p>
                        </div>
                    </div>
                </div>
                <br />
            {% empty %}

                    <div class="message-header">
                      <p>No Posts Yet</p>
                    </div>
                    
            {% endfor %}

          <!-- End of Danielle's code for posts -->


        </div>
    </div>
    <div>
        
    </div>
</div>

{% endblock %}